{% extends "base.html" %}
{% block contenu %}
<div class="card" style="text-align:center;">
    <strong>AZONBOAPP - RECU DE VENTE</strong><br>
    Facture N&deg; : {{ "%04d"|format(sid) }}<br>
    Date : {{ s[2] }}<br>
    Client : {{ s[1] }}
</div>
{% for a in articles %}
<div class="card">{{ a[0] }} x{{ a[1] }} = {{ a[2]|int }} FCFA</div>
{% endfor %}
<div class="card">
    <strong>TOTAL : {{ s[3]|int }} FCFA</strong><br>
    Paiement : {{ s[4] }}
    {% if s[4] == "credit" %}
    <span class="alerte">Reste a payer : {{ s[3]|int }} FCFA</span>
    {% endif %}
</div>
<a href="/ventes/nouvelle" class="btn">+ Nouvelle vente</a>
<a href="/" class="btn" style="background:#888;">Menu</a>
{% endblock %}